.header-container {
    background: linear-gradient(lightskyblue, lightgreen);
    text-align: center;
    padding: 10px;
}
.header-container img{
    width:150px;
    height:80px;
}
.header-container h1 {
    font-size: 3em;
    font-weight: bold;
}

.header-container h2 {
    font-size: 2em;
    font-weight: bold;
}

.header-container p {
    font-weight: 600;
}